html, body {
  background: rgb(0, 16, 20);
  color: silver;
  font-size: .82rem;
}

/* github.com/alfredsaveron/scrollbars/Background */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-secondary);
  border-radius: var(--bs-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-primary);
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--bs-dark);
    border-top-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
}

 
