//
// Base styles
//

.window {
  // scss-docs-start window-css-vars
  --#{$prefix}window-spacer-y: #{$window-spacer-y};
  --#{$prefix}window-spacer-x: #{$window-spacer-x};
  --#{$prefix}window-title-spacer-y: #{$window-title-spacer-y};
  --#{$prefix}window-border-width: #{$window-border-width};
  --#{$prefix}window-border-color: #{$window-border-color};
  --#{$prefix}window-border-radius: #{$window-border-radius};
  --#{$prefix}window-box-shadow: #{$window-box-shadow};
  --#{$prefix}window-inner-border-radius: #{$window-inner-border-radius};
  --#{$prefix}window-cap-padding-y: #{$window-cap-padding-y};
  --#{$prefix}window-cap-padding-x: #{$window-cap-padding-x};
  --#{$prefix}window-cap-bg: #{$window-cap-bg};
  --#{$prefix}window-cap-color: #{$window-cap-color};
  --#{$prefix}window-height: #{$window-height};
  --#{$prefix}window-color: #{$window-color};
  --#{$prefix}window-bg: #{$window-bg};
  --#{$prefix}window-img-overlay-padding: #{$window-img-overlay-padding};
  --#{$prefix}window-group-margin: #{$window-group-margin};
  // scss-docs-end window-css-vars

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--#{$prefix}window-height);
  word-wrap: break-word;
  background-color: var(--#{$prefix}window-bg);
  background-clip: border-box;
  border: var(--#{$prefix}window-border-width) solid var(--#{$prefix}window-border-color);
  @include border-radius(var(--#{$prefix}window-border-radius));
  @include box-shadow(var(--#{$prefix}window-box-shadow));

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      @include border-top-radius(var(--#{$prefix}window-inner-border-radius));
    }

    &:last-child  {
      border-bottom-width: 0;
      @include border-bottom-radius(var(--#{$prefix}window-inner-border-radius));
    }
  }

  // Due to specificity of the above selector (`.window > .list-group`), we must
  // use a child selector here to prevent double borders.
  > .window-header + .list-group,
  > .list-group + .window-footer {
    border-top: 0;
  }
}

.window-body {
  // Enable `flex-grow: 1` for decks and groups so that window blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: var(--#{$prefix}window-spacer-y) var(--#{$prefix}window-spacer-x);
  color: var(--#{$prefix}window-color);
}

.window-title {
  margin-bottom: var(--#{$prefix}window-title-spacer-y);
}

.window-subtitle {
  margin-top: calc(-.5 * var(--#{$prefix}window-title-spacer-y)); // stylelint-disable-line function-disallowed-list
  margin-bottom: 0;
}

.window-text:last-child {
  margin-bottom: 0;
}

.window-link {
  &:hover {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  + .window-link {
    margin-left: var(--#{$prefix}window-spacer-x);
  }
}

//
// Optional textual caps
//

.window-header {
  padding: var(--#{$prefix}window-cap-padding-y) var(--#{$prefix}window-cap-padding-x);
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: var(--#{$prefix}window-cap-color);
  background-color: var(--#{$prefix}window-cap-bg);
  border-bottom: var(--#{$prefix}window-border-width) solid var(--#{$prefix}window-border-color);

  &:first-child {
    @include border-radius(var(--#{$prefix}window-inner-border-radius) var(--#{$prefix}window-inner-border-radius) 0 0);
  }
}

.window-footer {
  padding: var(--#{$prefix}window-cap-padding-y) var(--#{$prefix}window-cap-padding-x);
  color: var(--#{$prefix}window-cap-color);
  background-color: var(--#{$prefix}window-cap-bg);
  border-top: var(--#{$prefix}window-border-width) solid var(--#{$prefix}window-border-color);

  &:last-child {
    @include border-radius(0 0 var(--#{$prefix}window-inner-border-radius) var(--#{$prefix}window-inner-border-radius));
  }
}


//
// Header navs
//

.window-header-tabs {
  margin-right: calc(-.5 * var(--#{$prefix}window-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-bottom: calc(-1 * var(--#{$prefix}window-cap-padding-y)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}window-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  border-bottom: 0;

  .nav-link.active {
    background-color: var(--#{$prefix}window-bg);
    border-bottom-color: var(--#{$prefix}window-bg);
  }
}

.window-header-pills {
  margin-right: calc(-.5 * var(--#{$prefix}window-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}window-cap-padding-x)); // stylelint-disable-line function-disallowed-list
}

// window image
.window-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--#{$prefix}window-img-overlay-padding);
  @include border-radius(var(--#{$prefix}window-inner-border-radius));
}

.window-img,
.window-img-top,
.window-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.window-img,
.window-img-top {
  @include border-top-radius(var(--#{$prefix}window-inner-border-radius));
}

.window-img,
.window-img-bottom {
  @include border-bottom-radius(var(--#{$prefix}window-inner-border-radius));
}


//
// window groups
//

.window-group {
  // The child selector allows nested `.window` within `.window-group`
  // to display properly.
  > .window {
    margin-bottom: var(--#{$prefix}window-group-margin);
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    // The child selector allows nested `.window` within `.window-group`
    // to display properly.
    > .window {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .window {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:not(:last-child) {
          @include border-end-radius(0);

          .window-img-top,
          .window-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-right-radius: 0;
          }
          .window-img-bottom,
          .window-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-start-radius(0);

          .window-img-top,
          .window-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-left-radius: 0;
          }
          .window-img-bottom,
          .window-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}
